@import "reset";

.login-modal,
.register-modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  background: url("../images/login-modal-bg.jpg") no-repeat center center;
  background-size: cover;
  @include transition;

  .close-modal {
    z-index: 1;
    position: absolute;
    left: 8%;
    top: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $white_color;
    color: $primary_color;
    text-align: center;
    line-height: 57px;
    font-size: 2em;
    border: 0;
    overflow: hidden;
    @include transition;

    &:hover {
      background-color: #eeeeee;
      box-shadow: 0px 0px 0 5px rgba($color: $dark_color, $alpha: 0.15);
    }

    &:focus {
      outline: 0;
      box-shadow: 0px 0px 0 5px rgba($color: $dark_color, $alpha: 0.15);
    }
  }

  .login-wrapper,
  .register-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    padding-top: 4%;
    padding-bottom: 2%;

    .logo-box {
      margin-top: -3rem;
      margin-bottom: 2rem;
      text-align: center;

      img {
        max-height: 85px;
        opacity: 0;
        @include transition($duration: 0.65s);
        -moz-transition-delay: 0.35s;
        -webkit-transition-delay: 0.35s;
        -ms-transition-delay: 0.35s;
        transition-delay: 0.35s;
      }
    }

    .login-box,
    .register-box {
      max-width: 360px;
      border-radius: 6px;
      position: relative;
      background-color: $white_color;
      color: $black_color;
      width: 100%;
      max-height: 100%;
      overflow: auto;
      text-align: center;
      box-shadow: 0 50px 100px -20px hsla(217, 9%, 46%, 0.25),
        0 0.312px 20px rgba(0, 0, 0, 0.1);
      @include transition($duration: 0.5s);
      @include transform($property: scale(0.5));

      .loading {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url("../images/loading.svg") no-repeat center center;
        background-size: 100px;
        background-color: rgba($color: $white_color, $alpha: 0.85);
        @include transition();
        visibility: hidden;
        opacity: 0;

        &.show {
          visibility: visible;
          opacity: 1;
        }
      }

      .title-wrapper {
        color: $text_color;
        padding-top: 1rem;

        .title {
          font-size: 1em;
          font-weight: 700;
          border-bottom: 1px solid #ddd;
          color: $primary_color;
          padding-bottom: 0.75rem;
          margin-bottom: 0.5rem;
        }

        p {
          padding: 0 1rem;
          font-weight: 300;
          text-align: center;
          margin-bottom: 0;
        }
      }

      .btn {
        margin: 0;
      }

      .form-group {
        margin-bottom: 1.5rem;
        text-align: right;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;

    .login-box,
    .register-box {
      visibility: visible;
      opacity: 1;
      @include transform($property: scale(1));
    }

    .logo-box img {
      opacity: 1;
    }
  }
}

.menu-overal {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $black_color, $alpha: 0.7);
  text-align: left;
  @include transition;
  visibility: hidden;
  opacity: 0;

  #close {
    outline: 0;
    border: 0;
    width: 45px;
    height: 45px;
    line-height: 48px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 4%;
    background-color: $white_color;
    color: $primary_color;
    font-size: 2.5em;
    cursor: pointer;
    @include transition;

    &:hover {
      background-color: $primary_color;
      color: $white_color;
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.menu-fixed {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  width: 280px;
  height: 100%;
  background-color: $white_color;
  padding: 1.5rem 1rem;
  text-align: right;
  overflow: auto;
  @include transition;
  @include transform($property: translateX(302px));

  ul li {
    margin-bottom: 0.5rem;

    a {
      display: block;
      font-weight: 400;
      padding: 10px 15px;
      border-radius: 6px;
      color: $dark_color;
      @include transition;

      &:hover {
        background-color: $dark_text_color;
      }
    }

    ul {
      display: none;

      li {
        margin-bottom: 0.25rem;

        a {
          font-size: 90%;
          font-weight: 300;
          padding: 5px 10px;
          border-radius: 4px;
        }
      }
    }

    &.has-children {
      & > a {
        position: relative;

        &::before {
          content: "\f107";
          font-family: "Font Awesome 5 Pro";
          font-weight: 300;
          color: $dark_color;
          position: absolute;
          left: 10px;
          top: 10px;
        }
      }
    }

    &.active {
      a {
        background-color: $black_color;
        color: $white_color;
      }
    }

    &:hover {
      & > ul {
        display: block;
      }
    }
  }

  &.show {
    @include transform($property: translateX(0));
  }
}

header {
  display: flex;
  color: $white_color;
  height: 64px;
  background-color: $black_color;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;

  a {
    color: $white_color;
    @include transition;

    &:hover {
      color: $primary_color;
    }
  }

  .logo {
    margin-left: 2.5rem;
    display: flex;
    align-items: center;

    img {
      max-height: 45px;
    }

    #open-menu {
      display: none;
      outline: 0;
      border: 0;
      width: 40px;
      height: 40px;
      line-height: 43px;
      margin-left: 1.5rem;
      border-radius: 3px;
      background-color: $white_color;
      text-align: center;
      font-size: 1.5em;
      color: $primary_color;
    }
  }

  .menu-content {
    position: relative;
    z-index: 1;

    ul {
      display: flex;

      li {
        position: relative;
        margin: 0 1rem;

        a {
          display: block;
          padding: 1rem 0;
        }

        ul {
          display: none;
          position: absolute;
          right: 0;
          top: 100%;
          background-color: #1e2127;
          min-width: 220px;

          li {
            margin: 0;

            a {
              position: relative;
              padding: 0.75rem 1rem;
              padding-right: 2rem;

              &::before {
                content: "";
                position: absolute;
                right: 1rem;
                top: 20px;
                width: 6px;
                height: 6px;
                background-color: $primary_color;
                @include transform($property: rotate(45deg));
              }

              &:hover {
                background-color: #282a30;
              }
            }

            i {
              color: rgba($color: $white_color, $alpha: 0.6);
              display: block;
              font-size: 85%;
              font-style: normal;
            }

            ul {
              right: 100%;
              top: 0;
            }
          }
        }

        &.has-children {
          & > a::after {
            content: "\f107";
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            display: inline-block;
            vertical-align: top;
            margin-right: 0.5rem;
          }
        }

        &.has-children:hover {
          & > ul {
            display: block;
          }

          & > a::after {
            content: "\f106";
          }
        }
      }
    }

    .logo-box {
      display: none;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
}

main {
  .title_up {
    position: relative;
    margin-bottom: 3rem;
    font-size: 2.125em;
    font-weight: 700;
    color: $dark_color;
    text-align: center;
    padding-bottom: 2rem;

    &::before {
      content: "";
      position: absolute;
      right: -40px;
      left: 0;
      bottom: 0;
      margin: auto;
      background-color: $primary_color;
      height: 2px;
      width: 60px;
      border-radius: 32px;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      left: -40px;
      bottom: 7px;
      margin: auto;
      background-color: $primary_color;
      height: 2px;
      width: 60px;
      border-radius: 32px;
    }
  }

  .intro-wrapper {
    position: relative;
    margin-top: -1px;

    .intro-carousel {
      .carousel-cell {
        width: 100%;
        height: 420px;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .flickity-page-dots {
        bottom: 50px;
        text-align: left;
        padding-left: 8%;

        .dot {
          background: $text_color;
          opacity: 1;
          width: 32px;
          height: 8px;
          margin: 0 5px;
          border-radius: 32px;

          &.is-selected {
            background: $primary_color;
          }
        }
      }
    }

    .top-card {
      width: 480px;
      background: $white_color;
      box-shadow: 0 2px 70px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      position: absolute;
      right: 7%;
      top: 25px;
    }

    .tab {
      position: relative;
      width: 100%;
      height: auto;

      .tab-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        border-bottom: 1.5px solid $border_color;
        padding: 0 25px;

        button {
          background-color: transparent;
          border: 0;
          text-align: center;
          color: $dark_color;
          font-weight: 700;
          padding: 1rem 1.5rem;
          margin: 0;
          border-bottom: 2px solid transparent;
          margin-bottom: -2px;
          font-size: 1em;
          @include transition();

          &:focus {
            outline: 0;
          }

          img {
            max-height: 110px;
          }

          &.active {
            color: $primary_color;
            border-color: $primary_color;
          }
        }
      }

      .tab-bar {
        padding: 24px;
        max-height: 300px;
        overflow: auto;

        .tab-bar-content {
          display: none;
          width: 100%;
          @include transition();
          color: $dark_color;

          ul li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $border_color;

            &:last-child {
              margin-bottom: 0;
              padding-bottom: 0;
              border-bottom: 0;
            }

            p {
              margin-bottom: 0;

              img {
                display: inline-block;
                vertical-align: middle;
                margin-left: 0.25rem;
              }
            }

            small {
              color: $text_color;
            }

            .red-bg-color,
            .green-bg-color {
              display: inline-block;
              width: 3.5rem;
              padding: 5px;
              direction: ltr;
              padding-bottom: 2px;
              text-align: center;
              color: $white_color;
              border-radius: 3px;
            }
          }

          &.active {
            display: block;
          }
        }
      }
    }
  }

  .coins-wrapper {
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-color: #f5f5f5;

    .carousel-cell {
      width: 25%;
      padding: 0 1rem;
    }

    .flickity-page-dots {
      .dot {
        display: inline-block;
        width: 7px;
        height: 7px;
        margin: 0 4px;
        background: $text_color;

        &.is-selected {
          background: $primary_color;
        }
      }
    }

    .coin-item {
      position: relative;
      margin: 2rem 0;
      background-color: $white_color;
      padding: 1.25rem 1rem;
      box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.01),
        0 6px 16px 0 rgba(0, 0, 0, 0.03), 0 3px 6px -4px rgba(0, 0, 0, 0.06);
      border-radius: 14px;
      @include transition;

      p {
        margin-bottom: 0;
        font-weight: 700;
      }

      .title {
        color: $text_color;
        font-size: 1.25em;
      }

      .price {
        font-size: 2em;
        margin-top: 0.5rem;
        color: $dark_color;

        &.green {
          color: $green_color;
        }

        &.red {
          color: $red_color;
        }
      }

      .amount {
        position: absolute;
        left: 1rem;
        top: 1.25rem;
        padding: 0 8px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        color: $white_color;
        border-radius: 5px;
        direction: ltr;

        &.green {
          background-color: $green_color;
        }

        &.red {
          background-color: $red_color;
        }
      }

      &:hover {
        box-shadow: 0 12px 48px 16px rgba(0, 0, 0, 0.02),
          0 9px 28px 0 rgba(0, 0, 0, 0.04), 0 6px 16px -8px rgba(0, 0, 0, 0.08);
      }
    }
  }

  .status-wrapper {
    background-color: #f5f5f5;

    .col-lg-3 {
      margin-bottom: 20px;
    }

    .status-item {
      text-align: center;
      padding: 20px 22px;
      border-radius: 10px;
      height: 100%;
      box-shadow: 0px 1px 20px -8px rgba($color: $black_color, $alpha: 0.3);
      background-color: $white_color;

      p {
        text-align: center;
      }

      i {
        display: inline-block;
        font-size: 2.75em;
        color: $primary_color;
        margin-bottom: 1.25rem;
      }

      img {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-bottom: 1rem;
      }

      .title {
        font-weight: 400;
        color: $black_color;
        margin-bottom: 0.5rem;
        font-size: 1.25em;
      }

      .count {
        font-weight: 700;
        color: $text_color;
        margin-bottom: 0;
      }
    }
  }

  .features-wrapper {
    padding: 5rem 0;

    .image-box {
      margin: 10rem 0;
      height: 600px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .content-box {
      position: sticky;
      top: 100px;
      padding: 35px;
      background-color: $white_color;
      border-radius: 9px;
      box-shadow: 0 6px 18px 5px rgba(0, 0, 0, 0.08),
        0 6px 16px 0 rgba(0, 0, 0, 0.04), 0 3px 6px -4px rgba(0, 0, 0, 0.07);
      color: $text_color;
      max-height: 600px;
      overflow: auto;

      #second-content,
      #third-content {
        display: none;
      }

      .title {
        font-weight: 700;
        color: $dark_color;
        font-size: 1.6em;
        margin-bottom: 0.25rem;
      }

      .desc {
        color: $dark_color;
        font-weight: 400;
        font-size: 1.25em;
      }

      p {
        font-weight: 300;
        margin-bottom: 0.5rem;
      }

      .feature-item {
        @include transition;

        .show-in-responsive {
          display: none;
        }
      }
    }
  }

  .news-wrapper {
    background-color: #f5f5f5;
    z-index: 0;

    & > .container {
      display: flex;
      flex-direction: row;
      flex: 1 1 0%;
    }

    .main-content {
      flex: 1 1 0%;
      margin-right: 2%;

      ul li {
        direction: ltr;

        &:nth-child(2n) {
          a {
            background-color: #eee;
          }
        }

        a {
          position: relative;
          text-align: left;
          color: $dark_color;
          display: block;
          padding: 15px 20px;
          padding-left: 3rem;
          @include transition;

          &::before {
            content: "";
            position: absolute;
            left: 1.25rem;
            top: 1.5rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: $primary_color;
            @include transform($property: rotate(135deg));
            @include transition;
          }

          &:hover {
            background-color: $black_color;
            color: $white_color;

            &::before {
              @include transform($property: rotate(0deg));
            }
          }
        }

        .title {
          font-size: 1.25em;
          font-weight: 700;
          margin-bottom: 0.5rem;
        }

        .date {
          display: block;
          color: $text_color;
        }
      }
    }
  }

  .search-aside {
    width: 23%;

    .form-group {
      margin-bottom: 1rem;

      .btn:first-child {
        margin-right: 0;
      }
    }
  }

  .widget-pages {
    background-color: $white_color;

    .widget-header {
      font-size: 1.25em;
      color: $black_color;
      padding: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $border_color;
    }

    .widget-body {
      padding: 1rem;
      padding-top: 0;
    }

    &.sticky-top {
      top: 30px;
    }
  }

  .blog-wrapper {
    .blog-item {
      border-radius: 10px;
      background: #f5f5f5;
      box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.02),
        0 6px 16px 0 rgba(0, 0, 0, 0.04), 0 3px 6px -4px rgba(0, 0, 0, 0.07);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      color: $black_color;
      @include transition;

      img {
        width: 100%;
        height: auto;
      }

      .title {
        font-weight: 400;
        font-size: 1em;
        padding: 20px;
        margin-bottom: 0;
      }

      &:hover {
        box-shadow: 0 12px 48px 16px rgba(0, 0, 0, 0.05),
          0 9px 28px 0 rgba(0, 0, 0, 0.07), 0 6px 16px -8px rgba(0, 0, 0, 0.1);
        @include transform($property: translateY(-10px));
      }
    }
  }

  .blog-page-wrapper {
    .f5f5f5 {
      background-color: #f5f5f5;
    }

    .blog-item {
      position: relative;
      background-color: $white_color;
      overflow: hidden;
      border-radius: 6px;
      border: 3px solid $white_color;
      margin-top: 1rem;
      margin-bottom: 1rem;
      @include transition;

      .image {
        padding-bottom: 100px;

        img {
          display: block;
          width: 100%;
          height: 260px;
          object-fit: cover;
          object-position: center center;
        }
      }

      .content {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-color: $white_color;
        padding: 1rem;
        @include transition($duration: 0.1s);

        .title {
          position: relative;
          color: #58595a;
          font-size: 1.25em;
          font-weight: 700;
          margin-bottom: 0;
          @include transition;

          &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: #c1c2c3;
            visibility: hidden;
            @include transition($duration: 0.35s);
          }
        }

        .desc {
          height: 0;
          opacity: 0;
          overflow: hidden;
          color: #848688;
          @include transition;
        }

        .more-details {
          color: $primary_color;
          border-bottom: 1px solid $primary_color;
          opacity: 0;
          visibility: hidden;
          @include transition;
        }
      }

      &:hover {
        box-shadow: 0 0 15px rgba($color: $black_color, $alpha: 0.1);

        .content {
          .title {
            padding-bottom: 0.75rem;
            margin-bottom: 1rem;

            &::before {
              visibility: visible;
              width: 260px;
            }
          }

          .desc {
            height: 52px;
            opacity: 1;
          }

          .more-details {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  .contact-wrapper {
    .google-map {
      height: 380px;

      iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }

    .contact-box {
      background-color: $white_color;
      border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

      .head {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        color: $dark_color;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;

        i {
          margin-left: 0.5rem;
        }
      }

      .body {
        padding: 20px 15px;
        color: #2f2f2f;

        form {
          .form-group {
            margin-bottom: 1rem;

            .btn {
              margin: 0;
            }
          }

          textarea {
            min-height: 120px;
          }
        }

        .social {
          display: flex;
          margin-top: 2rem;

          li {
            margin-left: 0.75rem;

            a {
              display: block;
              width: 35px;
              height: 35px;
              line-height: 38px;
              background-color: $primary_color;
              color: $black_color;
              border-radius: 5px;
              text-align: center;
              font-size: 1.125em;
              overflow: hidden;
              @include transition;

              &:hover {
                background-color: $blue_color;
                color: $white_color;
              }
            }
          }
        }
      }
    }
  }

  .steps-wrapper {
    overflow: hidden;

    .container {
      max-width: unset;
      width: 1100px;
    }

    .steps-items {
      position: relative;

      .work-item {
        position: relative;
        min-height: 120px;

        &::before {
          z-index: -1;
          content: "";
          position: absolute;
          height: 300px;
          border: 2px dashed $primary_color;
        }

        &::after {
          content: "";
          display: block;
          clear: both;
        }

        .image {
          position: absolute;
          top: 0;
          width: 120px;
          height: 120px;
          background-color: $white_color;
          border-radius: 50%;
          border: 5px solid #ecf0fa;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 3;

          img {
            width: 100%;
            height: auto;
          }

          span {
            position: absolute;
            right: 0px;
            top: -50px;
            font-size: 5em;
            font-weight: 900;
            color: #e4e6eb;
            line-height: 1;
            z-index: -1;
          }
        }

        .details {
          display: block;
          position: absolute;
          max-width: 400px;

          .title {
            font-size: 1.25em;
            color: $primary_color;
            margin-bottom: 8px;
            font-weight: 700;
          }

          p {
            color: #8187a4;
            font-weight: 200;
            margin-bottom: 0;
          }
        }

        &:nth-child(1) {
          &::before {
            height: 350px;
            transform: rotate(45deg);
            right: 170px;
            top: 30px;
          }

          .image {
            right: 0;
          }

          .details {
            right: 140px;
            top: 0;
          }
        }

        &:nth-child(2) {
          &::before {
            height: 300px;
            transform: rotate(-60deg);
            right: 430px;
            top: -10px;
          }

          .image {
            left: 420px;

            span {
              right: 35px;
              top: -50px;
            }
          }

          .details {
            left: 0;
            top: 0;
          }
        }

        &:nth-child(3) {
          margin-top: 30px;
          z-index: 2;

          &::before {
            transform: rotate(25deg);
            left: 420px;
            top: -100px;
          }

          .image {
            right: 240px;

            span {
              right: 15px;
              top: -50px;
            }
          }

          .details {
            right: 110px;
            top: 125px;
          }
        }

        &:nth-child(4) {
          &::before {
            transform: rotate(-50deg);
            left: 470px;
            top: 20px;
          }

          .image {
            left: 310px;

            span {
              right: 70px;
              top: -40px;
            }
          }

          .details {
            left: 0;
            top: 135px;
          }
        }

        &:nth-child(5) {
          margin-top: 85px;
          min-height: 250px;

          &::before {
            display: none;
          }

          .image {
            right: -100px;
            left: 0;
            margin: auto;
          }

          .details {
            right: 0;
            left: 0;
            top: 130px;
            margin: auto;
          }
        }
      }
    }
  }

  .page-title {
    .breadcrumb {
      margin-bottom: 2rem;
      padding: 0.5rem 6%;
      font-size: 86%;
    }

    .breadcrumb-item + .breadcrumb-item {
      padding-left: 0;
      padding-right: 0.5rem;

      &::before {
        padding-right: 0;
        padding-left: 0.5rem;
      }
    }
  }

  .dashboard {
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    background-color: #f5f5f5;
    min-height: 420px;
    max-width: 1680px;
    margin: auto;

    .back-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: $primary_color;
      color: $white_color;
      text-align: center;
      width: 50px;
      height: 50px;
      line-height: 57px;
      border-radius: 50%;
      z-index: 2;
      border: 0;
      outline: 0;
      @include transition();

      i {
        line-height: 0;
        font-size: 1.65em;
      }

      &:hover {
        box-shadow: 0px 0px 0 5px rgba($color: $primary_color, $alpha: 0.4);
      }
    }

    aside {
      box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px,
        rgba(0, 0, 0, 0.08) 0px 0px 4px;
      position: relative;
      width: 210px;
      background-color: $white_color;

      & > ul {
        position: sticky;
        top: 65px;
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          a {
            text-decoration: none;
            color: $dark_color;
            border-right: 4px solid transparent;
            font-weight: 300;
            height: 50px;
            display: flex;
            align-items: center;

            i {
              display: inline-block;
              margin: 0 13px;
              margin-top: -4px;
              color: $text_color;
            }

            &:hover {
              background-color: #f5f5f5;
            }
          }

          &.active {
            a {
              color: $black_color;
              font-weight: 400;
              border-right-color: $primary_color;

              i {
                color: $primary_color;
              }
            }
          }
        }
      }

      &.trade-aside {
        width: 260px;
        padding: 0.75rem 1rem;
        max-height: 905px;
        overflow: auto;
      }
    }

    .main-content {
      flex: 1 1 0%;

      .account-status {
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px;
        flex: 1 1 0%;
        padding: 25px;
        background-color: $white_color;

        .avatar {
          display: flex;
          width: 44px;
          height: 44px;
          border-radius: 100%;
          border: 1px solid $black_color;
          font-weight: 700;
          justify-content: center;
          align-items: center;
          font-size: 1.125em;
          color: $black_color;
        }

        .content {
          margin-right: 1rem;

          p {
            margin-bottom: 0;
            color: $black_color;

            i {
              font-style: normal;
            }

            &:nth-child(2) {
              font-size: 87%;
              margin-top: 3px;
            }
          }
        }
      }

      .welcome-box {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px,
          rgba(0, 0, 0, 0.08) 0px 0px 4px;
        border-radius: 5px;
        padding: 25px;
        margin: 1rem;
        background: url("../images/dashboard/welcome-box-bg.jpg") no-repeat
          center center;
        background-size: cover;

        .title {
          color: $white_color;
          font-weight: 700;
          font-size: 1.5em;
          margin-bottom: 0.25rem;
        }

        .desc {
          color: rgba(255, 255, 255, 0.65);
        }

        .steps {
          position: relative;
          display: flex;
          flex-direction: row;
          color: $white_color;
          margin-top: 2rem;

          .line {
            content: "";
            position: absolute;
            top: 10px;
            right: 10px;
            border-bottom: 1px dotted $primary_color;
            z-index: 0;
          }

          .step-item {
            display: flex;
            position: relative;
            z-index: 1;
            flex-direction: column;
            min-width: 130px;
            max-width: 190px;
            margin-left: 32px;

            .counter {
              width: 24px;
              height: 24px;
              background-color: $white_color;
              border: 1px solid $black_color;
              border-radius: 50%;
              text-align: center;
              line-height: 25px;
              color: $black_color;
              font-size: 14px;

              &.done {
                background-color: $green_color;
              }
            }

            .work-name {
              margin-bottom: 0;
              margin-top: 1rem;
            }

            .work-desc {
              color: rgba(255, 255, 255, 0.55);
              font-size: 85%;
            }

            .btn {
              width: fit-content;
              padding: 3px 15px;
              margin: 0 6px;
              margin-right: 0;
              font-size: 85%;
            }
          }
        }
      }

      .row {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;

        [class*="col-"] {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }

      .widget-style {
        box-shadow: rgba(20, 21, 26, 0.04) 0px 1px 2px,
          rgba(71, 77, 87, 0.04) 0px 3px 6px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
        border-radius: 4px;
        background-color: $white_color;
        padding: 0px 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;

        .widget-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid $border_color;

          .widget-title {
            font-weight: 700;

            a {
              color: $black_color;

              &:hover {
                color: $primary_color;
              }
            }
          }

          .btn {
            padding: 0.35rem 1rem;
            margin-top: 0;
            margin-bottom: 0;
          }

          select.form-control {
            appearance: auto;
          }
        }

        .widget-body {
          flex: 1 1 0%;
          padding-top: 1rem;
          padding-bottom: 1rem;

          .balance-details-list {
            width: 100%;
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            overflow: scroll;
            border-bottom: 1px solid $border_color;
            margin-top: 1rem;
            margin-bottom: 2rem;

            li {
              margin-left: 1.25rem;
              user-select: none;

              a {
                display: block;
                border-bottom: 3px solid transparent;
                padding-bottom: 7px;
                color: $text_color;

                &:hover {
                  color: $black_color;
                }
              }

              &.active {
                text-shadow: 0 0 1px;

                a {
                  color: $black_color;
                  border-bottom-color: $primary_color;
                }
              }
            }
          }

          sub {
            margin-left: -2px;
            font-size: 13px;
            font-weight: 300;
          }

          .news-item {
            display: block;
            display: flex;
            flex-direction: column;
            color: $dark_color;
            padding-bottom: 0.5rem;
            margin-top: 0.5rem;
            border-bottom: 1px solid $border_color;

            .text-left {
              margin-top: 0.75rem;
              color: $text_color;
              font-weight: 300;
            }

            &:last-child {
              padding-bottom: 0;
              border-bottom: 0;
            }

            &:hover {
              color: $primary_color;
            }
          }

          .account-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            &:last-child {
              margin-bottom: 0;
            }

            p {
              margin-bottom: 0;
            }

            .title {
              color: $black_color;
              font-weight: 400;
            }

            .desc {
              color: $text_color;
              font-weight: 300;
            }

            .btn {
              margin: 2px;
              padding-left: 12px;
              padding-right: 12px;
            }
          }

          video {
            max-width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      .alert-box {
        position: relative;
        display: flex;
        @include primaryGradient();
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px,
          rgba(0, 0, 0, 0.08) 0px 0px 2px;
        border-radius: 5px;
        flex: 1 1 0%;
        padding: 0.5rem 1rem;
        justify-content: space-between;
        align-items: center;

        &::before {
          content: "\f104";
          font-family: "Font Awesome 5 Pro";
          font-weight: 300;
          position: absolute;
          left: 1.35rem;
          top: 0;
          bottom: 0;
          margin: auto;
          line-height: 65px;
          font-size: 1.25em;
        }

        a {
          display: block;
          font-size: 1rem;
          padding-left: 2rem;
          color: $dark_color;
        }
      }

      .dash-links {
        .btn {
          width: 100%;
          margin: 0;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;

          i {
            display: block;
            font-size: 3em;
            margin-bottom: 1rem;
          }

          span {
            display: block;
            font-weight: 700;
            font-size: 1.25em;
          }
        }
      }

      .tradingview-widget-container {
        #tradingview_79fd0 > div {
          width: 100% !important;

          & > div {
            width: 100% !important;
          }
        }
      }
    }
  }
}

.api-modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba($color: $dark_text_color, $alpha: 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  @include transition;
  visibility: hidden;
  opacity: 0;
  overflow: auto;

  .close-btn {
    position: absolute;
    left: 8%;
    top: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $white_color;
    color: $primary_color;
    text-align: center;
    line-height: 55px;
    font-size: 2.25em;
    border: 0;
    overflow: hidden;
    outline: 0;
    @include transition;

    &:hover {
      background-color: $primary_color;
      color: $white_color;
    }
  }

  .modal-content {
    background-color: $white_color;
    border-radius: 6px;
    width: 480px;
    max-width: 100%;

    .header {
      padding: 0 1rem;
      font-size: 1.35em;
      color: $primary_color;
      padding-top: 1rem;
      padding-bottom: 0.75rem;
      text-align: center;
      font-weight: 700;
      border-bottom: 1px solid $border_color;
    }

    .body {
      padding: 1rem;
      color: $text_color;
      text-align: center;

      p {
        text-align: center;
      }

      a {
        color: $blue_color;
        @include transition;

        &:hover {
          color: $primary_color;
        }
      }

      .form-group {
        margin-bottom: 1rem;
        text-align: right;
      }
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

footer {
  background-color: $dark_color;
  padding-top: 3rem;

  .title {
    color: $white_color;
    font-size: 1.125em;
  }

  a {
    color: $text_color;
    font-weight: 300;
    @include transition;

    &:hover {
      color: $white_color;
    }
  }

  ul li {
    padding: 8px 0;
  }

  .social {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .social-link {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1.125em;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 3px;

    &:hover {
      background-color: $white_color;
      color: $primary_color;
    }
  }

  .copy-right {
    text-align: center;
    background-color: $black_color;
    color: $white_color;
    margin-top: 4rem;
    padding: 1rem 0;

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

// start responsive design

@media (max-width: 992px) {
  header {
    .logo #open-menu {
      display: block;
    }

    .menu-content {
      display: none;
    }
  }

  main {
    .features-wrapper .content-box {
      padding: 30px 25px;
    }
    .intro-wrapper {
      .intro-carousel .carousel-cell {
        height: 280px;
      }
    }
    .news-wrapper {
      & > .container {
        flex-direction: column;
      }
      .main-content {
        margin-right: 0;
      }
    }
    .search-aside {
      width: 100%;
    }
    .coins-wrapper {
      .carousel-cell {
        width: 33.3333%;
      }
    }
    .steps-wrapper {
      .container {
        width: 94%;
      }

      .steps-items .work-item {
        position: relative;
        min-height: unset;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding-left: 4rem;

        .details {
          max-width: unset;

          p {
            text-align: right;
          }
        }

        &::before {
          display: none;
        }

        .image,
        .details {
          position: static !important;
          top: 0 !important;
          right: 0 !important;
          left: 0 !important;
          bottom: 0 !important;
          margin-left: 2rem;
        }

        .image span {
          right: unset !important;
          top: 25px !important;
          left: 0 !important;
        }

        .details {
          margin-left: 0;
        }

        // &:nth-child(2) {
        //   top: 135px;
        // }

        &:nth-child(3) {
          // top: -135px;
          margin-top: 0;
        }

        &:nth-child(5) {
          margin: unset;
          margin-top: 0;
          min-height: unset;

          .details,
          .image {
            margin: unset;
          }

          .image {
            margin-left: 2rem;
          }
        }
      }
    }
  }

  footer {
    .text-left {
      text-align: right !important;
    }

    .dir-ltr {
      direction: rtl !important;
    }
  }
}

@media (max-width: 768px) {
  header {
    .hide-in-responsive {
      display: none;
    }

    .logo {
      width: 100%;
      margin-left: 0;
      justify-content: space-between;
    }
  }

  .pagination {
    justify-content: center;
  }

  main {
    .coins-wrapper {
      .container {
        max-width: 100%;
      }

      .table {
        margin-bottom: 0;

        img {
          margin-left: 7px;
        }
      }

      .carousel-cell {
        width: 50%;
      }
    }
    .intro-wrapper {
      .intro-carousel .carousel-cell {
        height: 240px;
      }

      .top-card {
        position: relative;
        top: 0;
        width: 100%;
        border-radius: 0;
        padding-right: 15px;
        padding-left: 15px;
        right: 0;
      }
    }
    .features-wrapper {
      .image-box {
        display: none;
      }

      .content-box {
        max-height: unset;
        overflow: unset;
        padding: 0;
        box-shadow: unset;
        background-color: transparent;

        .feature-item {
          padding-bottom: 1rem;
          border-bottom: 1px solid $border_color;

          .show-in-responsive {
            display: block;
            width: 100%;
          }

          &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;
          }
        }

        #second-content,
        #third-content {
          display: block;
        }
      }
    }
    .status-wrapper {
      background-color: transparent;

      .status-item img {
        width: 75px;
        height: 75px;
      }
    }
    .steps-wrapper {
      background-color: #f5f5f5;

      .container {
        width: 100%;
      }

      .steps-items .work-item .image {
        margin-left: 1rem;
        width: auto;
        height: 85px;

        span {
          font-size: 3em;
        }
      }
    }
    .blog-wrapper {
      .blog-item {
        margin-bottom: 1.5rem;
      }
    }
    .blog-page-wrapper {
      .blog-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;

        .image {
          width: 40%;
          padding-bottom: 0;

          img {
            height: 200px;
          }
        }

        .content {
          width: 60%;
          position: relative;

          .title {
            font-size: 1.125em;
            margin-bottom: 1rem;

            &::before {
              display: none;
            }
          }

          .desc {
            height: 40px;
            opacity: 1;
            font-size: 0.9em;
            text-align: right;
            font-weight: 300;
          }

          .more-details {
            visibility: visible;
            opacity: 1;
          }
        }

        &:hover {
          .content {
            .title {
              padding-bottom: 0;
            }

            .desc {
              height: 40px;
            }
          }
        }
      }
    }
    .dashboard {
      flex-direction: column;

      aside {
        width: 100%;

        ul {
          flex-direction: row;
          white-space: nowrap;
          overflow-x: auto;

          li {
            a {
              border-right: 0;
              padding: 0 1rem;

              i {
                margin-left: 0.5rem;
                margin-right: 0;
              }
            }

            &.active {
              a {
                color: $primary_color;
              }
            }
          }
        }

        &.trade-aside {
          width: 100%;
          max-height: 240px;
        }
      }

      .main-content {
        .welcome-box .steps .step-item {
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .menu-fixed {
    width: 260px;
  }

  .register-modal,
  .login-modal {
    .register-wrapper,
    .login-wrapper {
      padding-left: 20px;
      padding-right: 20px;

      .register-box,
      .login-box {
        max-width: 100%;
      }
    }
  }

  .api-modal {
    padding-left: 20px;
    padding-right: 20px;

    .modal-content {
      max-width: 100%;
    }
  }

  header {
    [class*="hint--"][aria-label]:after,
    .hint--info.hint--bottom-left:before {
      display: none;
    }
  }

  main {
    .title_up {
      padding-bottom: 1.75rem;
      margin-bottom: 2rem;
      font-size: 1.75em;
    }
    .intro-wrapper {
      .intro-carousel {
        .carousel-cell {
          height: 150px;
        }
        .flickity-page-dots {
          bottom: 10px;
          padding-left: 5%;

          .dot {
            width: 20px;
            height: 5px;
          }
        }
      }
      form {
        .input-width {
          width: 200px;
        }

        .btn {
          padding: 8px 12px 6px;
        }
      }
      .tab {
        .tab-menu {
          padding-left: 0;
          padding-right: 0;
          padding-top: 0.35rem;
        }
        .tab-bar {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    .features-wrapper {
      padding: 3rem 0;
    }
    .status-wrapper {
      .status-item {
        padding: 15px 10px;

        i {
          margin-bottom: 1rem;
        }
      }
    }
    .steps-wrapper {
      .steps-items .work-item {
        padding-left: 3rem;
      }
    }
    .coins-wrapper {
      padding-top: 0;
      padding-bottom: 2rem;

      .flickity-page-dots {
        bottom: -5px;
      }

      .coin-item {
        p {
          text-align: center;
        }

        .price {
          font-weight: 300;
        }
      }

      .carousel-cell {
        width: 50%;
        padding: 0 0.5rem;
      }
    }
    .news-wrapper {
      .main-content ul li .title {
        font-size: 1.25em;
      }
    }
    .blog-page-wrapper {
      .blog-item {
        .image img {
          height: 180px;
        }

        .content {
          .d-flex.justify-content-between {
            span.primary-color {
              display: none;
            }
          }
        }
      }
    }

    .dashboard {
      .main-content {
        .welcome-box .steps {
          .line {
            width: 315px !important;
          }

          .step-item {
            min-width: unset;
            max-width: unset;
            width: 33.3333%;
            margin-left: 0;

            .work-desc {
              display: none;
            }
            .work-name {
              margin-bottom: 0.5rem;
            }
          }
        }

        .row {
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  footer {
    padding-bottom: 3rem;
  }
}

@media (max-width: 400px) {
  main {
    .coins-wrapper {
      padding-bottom: 2rem;

      .carousel-cell {
        width: 100%;
      }
      .flickity-page-dots {
        bottom: -10px;
      }
    }

    .blog-wrapper,
    .status-wrapper {
      padding-bottom: 1.25rem;
    }

    .news-wrapper {
      .main-content {
        ul li a {
          padding-right: 2.25rem;

          &::before {
            right: 0.75rem;
          }
        }
      }
    }

    .contact-wrapper .google-map {
      height: 280px;
    }

    .dashboard {
      .main-content {
        .welcome-box .steps {
          flex-wrap: wrap;

          .line {
            display: none;
          }

          .step-item {
            width: 50%;
          }
        }
      }
    }
  }
}
